.tableCell:hover {
    background-color: #E5E7EB;
    cursor: pointer;
}
.tableCell {
    height: 40px;
    position: relative;
}

.tableCell_selected {
    background-color: #E5E7EB;
    cursor: pointer;
}

.cursorPointer{
    cursor: pointer;
}


#tableIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 0;
    color: #c2c2c2;
    border-bottom-color: white !important;
}

.tableCell:hover #tableIcon{
    color: white;
    border-bottom-color: #E5E7EB !important;
}